<!-- 
<div class="table-responsive-lg">  
    <table class="table table-striped table-light">  
        <thead  style="background-color: #5eddc2;">  
            <tr class="text-center text-uppercase">  
             
                <th>Name</th>  
              </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let emp of processnames"class="text-center">  
       
            <td>{{emp.ProcessNames}}</td>  
      
            
                
            
          </tr>  
        </tbody>  
      </table>  
      </div> -->
      <!-- <div class="search-div">
        <button mat-raised-button>
          <mat-icon>add</mat-icon>Create
        </button>
        <mat-form-field class="search-form-field" floatLabel="never">
          <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
          <button mat-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div> -->
      <!-- <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
      </mat-form-field> -->
    
        <mat-form-field appearance="outline">
          <mat-label>Enter Process Name to search</mat-label>
           <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" >
          <button mat-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()"> <mat-icon>close</mat-icon></button>
         
        </mat-form-field>

       
 
     <div class="mat-elevation-z8">
         <mat-table [dataSource]="procnames" matSort>
             <ng-container matColumnDef="ProcessNames">
                 <mat-header-cell *matHeaderCellDef mat-sort-header>ProcessName</mat-header-cell>
                 <mat-cell *matCellDef="let element" >{{element.ProcessNames}}</mat-cell>
             </ng-container>
             <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
             <mat-row *matRowDef="let Row; columns: displayedColumns;"></mat-row>
         </mat-table>
         <mat-paginator [pageSizeOptions]="[5,10,25,100]"[pageSize]="5" showFirstLastButtons></mat-paginator>
     </div>